html {
    font-family: Arial;
    margin-left: 25%;
    width: 50%;
    height: 100%;
}

section {
    margin: 2% 0;
    padding: 0;
    min-height: 40%;
}

img {
    max-height: 40%;
    max-width: 40%;
    padding-right: 2%;
    float: left;
}

p, h1, h2, header, a {
    margin: 0;
    padding: 0;
}

.two_columns {
    padding: 0;
    margin-bottom: 1%;
    font-size: 115%;
}

#info {
    float: left;
}

#addNote {
    box-shadow: 3px 3px 3px black;
}

table {
    border: 1px solid black;
    width: 70%;
    text-align: left;
    font-weight: normal;
    border-collapse: collapse;
}

tr td {
    border-right: 1px solid black;
}

table tr th {
    line-height: 85%;
    font-size: 85%;
    font-weight: normal;
    width: 5%;
    background: darkgrey;
    border-right: 1px solid black;
}

table tr td:nth-child(2) {
    width: 15%;
}

table tr:nth-child(even) {
    background-color: lightgrey;
}

.x {
    border-radius: 50%;
    border-color: black;
    background: red;
    color: white;
    float: right;
    margin-right: 2%;
}

/**{*/
/*border: 1px dashed #ff0000;*/
/*}*/

textarea {
    text-align: left;
    width: 50%
}

